
</div>
<body>
<%= render 'errors', resource: @leave %>

<div class="container-fluid">
  <div class="row">

<!-- Left side admin panel bar -->
    <%= render './layouts/sidebar' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2" id="sayHello">All requests</h1>
        <div class="mb-2 mb-md-0">
          <!-- New action modal with new button -->
          <%= render './layouts/new' %>
        </div>
      </div>
<!-- Dropdown filter -->
        <div class="input-group">
          <%= form_tag(admin_leaves_path, method: :get, remote: true) do %>
            <%= select_tag(:status, options_for_select([['Approved', true], ['Pending', false]]), { include_blank: true }) %>
            <%= submit_tag 'Filter' %>
            <%= link_to 'Crear', admin_leaves_path, class: 'btn btn-secondary btn-sm' %>
          <% end %>
        </div>

        <div id="leaves_list">
          <%= render 'leave' %>
        </div>

        <div id="leave-modal" class="modal fade"></div>
    </main>
  </div>
</div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>

</body>
