<p>
  <strong>Employee:</strong>
  <p>
    <%= current_user.email %>
  </p>
  <p>
  <strong>Type of request:</strong>
<%= @leave.leave_type %>
</p>
<p>
  <strong>Starting:</strong>
  <%= @leave.start_date%>
</p>
<p>
  <strong>Ending:</strong>
  <%= @leave.end_date%>
 <p>
  <strong>Reason:</strong>
  <%= @leave.reason_for_leave %>
</p>
</p>
</p>
<%= link_to 'Back', admin_leaves_path %>
