<%= render 'errors', resource: @leave %>

<%= form_for @leave do |f| %>
<p>
  <%= f.label :Type %><br>
  <%= f.select :leave_type, Leave::LEAVE_TYPES %>
</p>

<div class="input-group input-daterange">
  <p>
    <%= f.label :Starting %><br>
    <%= f.text_field :start_date, class: 'form-control' %>
  </p>
  <div class="input-group-addon"></div>
  <p>
    <%= f.label :Ending %><br>
    <%= f.text_field :end_date, class: 'form-control' %>
  </p>
</div>

<p>
  <%= f.label :Reason_for_absence %><br>
  <%= f.text_field :reason_for_leave, placeholder: 'Optional' %>
</p>
<div class="modal-footer">
  <%= f.submit 'Send Request', class: 'btn btn-success'%>
</div>
<% end %>
