<%= render 'errors', resource: @leave %>

<%= form_for :leave, url: leaves_path do |f| %>
<p>
  <%= f.label :Type %><br>
Tutaj rozwijalna lista
</p>
<div class='datepicker'>
  <div class="input-group input-daterange">
    <p>
    <%= f.label :Starting %><br>
    <%= f.text_field :start_date, class: "form-control" %>
    </p>
    <div class="input-group-addon"></div>
    <p>
      <%= f.label :Ending %><br>
      <%= f.text_field :end_date, class: 'form-control' %>
    </p>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $('.datepicker').datepicker();
});
</script>
<p>
  <%= f.label :Reason_for_absence %><br>
  <%= f.text_field :reason_for_leave %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
