<h1>List of all request-leaves</h1>
<p>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    New request
    <!-- <%= link_to 'New request', new_leafe_path %> -->
  </button>
</p>
<% if @leaves.present? %>

    <table>
      <tr data-toggle="modal" data-target="#exampleModal">
        <td>ID |</td>
        <td>Type |</td>
        <td>Start Date |</td>
        <td>End Date |</td>
        <td>Status |</td>
        <td>Action</td>
      </tr>
      <% count = 0 %>
      <% @leaves.each do |leave| %>
        <tr>
          <td><%= count+=1 %></td>
          <td><%= leave.leave_type %></td>
          <td><%= leave.start_date %></td>
          <td><%= leave.end_date %></td>
          <td><%= leave.status %></td>

          <td><%= link_to 'Edit', edit_leafe_path(leave), remote: true %></td>
          <td><%= link_to 'Delete', leafe_path(leave), method: :delete,
                                                       remote: true,
                                                       class: 'js-destroy' %></td>
        </tr>
<% end %>
</table>
<% else %>
<div>You don't have any pending requests</div>
<% end %>
<%= render 'form' %>
