<div class="container">
<!-- Days left method -->
  <div class="indexUser">
    <%= render 'days_left' %>

    <!-- Rendering new action modal with new button -->
    <%= render './layouts/new' %>
  </div>
  <%= render 'errors', resource: @leave %>

  <!-- Full name rendering -->
  <div class="fullName">
    <% if user_signed_in? %>
      <%= render './layouts/fullname' %>
    <% end %>
  </div>
  <hr>

<!-- Statistic of day booked for user -->
  <div class="border-bottom bookedDays">
    <%= render 'days_booked' %>
  </div>

<!-- Print out leave requests -->
  <div class="container_leaves">
    <% if @leaves.present? %>
      <%= render @leaves %>
    <% else %>
      <div class="nilRequests">
        <h3>Time to rest! You don't have pending requests!</h3>
      </div>
    <% end %>
  </div>
  <div id="leave-modal" class="modal fade"></div>
</div>
