<%= render 'errors', resource: @leave %>

<div class="container">

  <!-- New request button-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mynewLeave">
    New request
  </button>

  <br>
  <hr>
  <div class="row" id="container_leaves">
    <%= render 'leave' %>
  </div>

  <!-- Modal create action -->
  <%= form_for @leave, remote: true do |f| %>
  <div class="modal fade" id="mynewLeave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Send Request</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            <%= f.label :Type %><br>
            <%= f.select :leave_type, Leave::LEAVE_TYPES %>
          </p>
          <div class="input-group input-daterange">
            <p>
              <%= f.label :Starting %><br>
              <%= f.text_field :start_date, class: "datepicker form-control leave_start_date" %>
            </p>
            <div class="input-group-addon"></div>
            <p>
              <%= f.label :Ending %><br>
              <%= f.text_field :end_date, class: "datepicker form-control leave_end_date" %>
            </p>
            <p>
              <%= f.label :Reason_for_absence %><br>
              <%= f.text_field :reason_for_leave, class: 'form-control' %>
            </p>
          </div>
          <div class="modal-footer">
            <%= f.submit 'Send Request', class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- End of modal -->
</div>
