<h1>List of all request-leaves</h1>
<p>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    New request
    <!-- <%= link_to 'New request', new_leafe_path %> -->
  </button>
</p>
<% if @leaves.present? %>

    <table>
      <tr data-toggle="modal" data-target="#exampleModal">
        <td>ID |</td>
        <td>Type |</td>
        <td>Start Date |</td>
        <td>End Date |</td>
        <td>Status |</td>
        <td>Action</td>
      </tr>
      <% count = 0 %>
      <% @leaves.each do |leave| %>
        <tr>
          <td><%= count+=1 %></td>
          <td><%= leave.leave_type %></td>
          <td><%= leave.start_date %></td>
          <td><%= leave.end_date %></td>
          <td><%= leave.status %></td>

          <td><%= link_to 'Edit', edit_leafe_path(leave) %></td>
          <td><%= link_to 'Delete', leafe_path(leave), method: :delete,
                                                       remote: true,
                                                       class: 'js-destroy' %></td>
        </tr>
<% end %>
</table>
<% else %>
<div>You don't have any pending requests</div>
<% end %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Time off</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for :leave, url: leaves_path do |f| %>
        <p>
          <%= f.label :Type %>
        Tutaj rozwijalna lista
        </p>
        <div class='datepicker'>
          <div class="input-group input-daterange">
            <p>
            <%= f.label :Starting %><br>
            <%= f.text_field :start_date, class: "form-control" %>
            </p>
            <div class="input-group-addon"></div>
            <p>
              <%= f.label :Ending %><br>
              <%= f.text_field :end_date, class: 'form-control' %>
            </p>
        </div>
        </div>
        <script type="text/javascript">
        $(document).ready(function(){
          $('.datepicker').datepicker();
        });
        </script>
        <p>
          <%= f.label :Reason_for_absence %><br>
          <%= f.text_field :reason_for_leave %>
        </p>
        <p>

        </p>

      </div>
      <div class="modal-footer">
        <%= f.submit 'Send Request', class: 'btn btn-success'%>
        <% end %>

      </div>
    </div>
  </div>
</div>
