 <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
     <%= link_to 'R&R', root_path, class: 'navbar-brand navLogo' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li>
        <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to admin_path, class: 'dropdown-item' do %>
              My Details
              <%= fa_icon 'user' %>
            <% end %>
            <a class="dropdown-item" href="#">Tutaj link</a>
            <%= link_to edit_user_registration_path(current_user), class: 'dropdown-item' do %>
              Edit Account
              <%= fa_icon 'users-cog' %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
              Log out
              <%= fa_icon 'sign-out-alt' %>
            <% end %>
          </div>
        </li>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-info' %>
        </li>
        <% else %>
        <li>
          <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
        </li>
        <li>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success' %>
        </li>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
