<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to admin_path, class: "nav-link active" do %>
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_leaves_path, class: "nav-link" do %>
          <span data-feather="file"></span>
          Manage requests
          <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: "nav-link" do %>
          <span data-feather="calendar"></span>
          My calendar
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_users_path, class: "nav-link" do %>
        <span data-feather="users"></span>
        Users
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="bar-chart-2"></span>
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="layers"></span>
          Integrations
        </a>
      </li>
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
      </h6>
      <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <%= link_to new_user_invitation_path, class: "nav-link" do %>
          <span data-feather="plus-circle"></span>
          Invate a user
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_admin_user_path, class: "nav-link" do %>
          <span data-feather="plus-circle"></span>
          Add new user
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Year-end sale
        </a>
      </li>

    </ul>
  </div>
</nav>
