<!DOCTYPE html>
<html>
  <head>
    <title>RandR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class='container'>
    <%= render './layouts/alerts' %>

    <% if user_signed_in? %>
      <div>
        <% if (current_user.first_name || current_user.last_name).present? %>
        <%= full_name %>
        <% else %>
        Dupa
        <% end %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> |
        <%= link_to 'Settings', edit_user_registration_path %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
